@import "../../assets/styles/variables.scss";

.pagination {
  display: flex;
  justify-content: center;

  &__list {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__item {
    display: flex;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    border-radius: 12px;
    background-color: $color-white;
    color: $color-basic-black;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    border: 1px solid transparent;
    transition: border-color 0.3s;

    &_active {
      border: 1px solid $color-accent-blue;
      color: $color-accent-blue;
    }

    &_bgcolor_accent {
      background-color: $color-accent-blue;
    }

    &_noevent {
      pointer-events: none;
    }

    &:hover {
      border: 1px solid $color-accent-blue;
      transition: border-color 0.3s;
    }

    &_nohover:hover {
      border: 1px solid transparent;
    }

    &_img {
      &_next {
        transform: rotate(180deg);
      }
    }
  }
}
