@import "../../assets/styles/variables.scss";

.answersFilters {
  grid-column: 1/2;
  padding: 30px 20px;
  background-color: $color-white;
  border-radius: 18px;
  height: fit-content;

  @media (max-width: 991px) {
    display: none;
  }

  &__header {
    display: flex;
    align-items: flex-end;
    margin-bottom: 24px;
    gap: 5px;
  }

  &__title {
    font-family: SF-Pro-Display;
    font-weight: 500;
    line-height: 110%;
    font-size: 20px;
    letter-spacing: -2%;
  }

  &__btn {
    height: 22px;
    display: flex;
    align-items: center;
    gap: 8px;

    span {
      color: $color-red;
      font-family: "SF-Pro-Text";
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
    }

    &:hover {
      span {
        text-decoration: underline;
      }
    }
    
    @media (hover: none) {
      &:hover {
        span {
          text-decoration: none;
        }
      }
    }
  }

  &__search {
    display: flex;
    margin-bottom: 24px;
  }

  &__inp {
    color: $color-basic-grey;
    font-size: 14px;
    background-color: $color-grey-light;
    border-radius: 12px 0 0 12px;
    padding: 20px 5px 20px 20px;
    border: none;
    outline: none;
    flex-grow: 1;
  }

  &__icon {
    background-color: $color-grey-light;
    border-radius: 0 12px 12px 0;
    padding-right: 20px;
  }

  &__specList {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__specItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__count {
    font-weight: 500;
    color: $color-basic-grey;
    line-height: 100%;
  }

  &__cb {
    position: absolute;
    left: -9999px;

    & + label {
      position: relative;
      display: inline-block;
      padding-left: 32px;
      cursor: pointer;

      &:before {
        display: block;
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background-image: url(../../assets/icons/cb.svg);
        background-repeat: no-repeat;
        background-size: 20px 20px;
      }
    }

    &:checked + label {
      &:before {
        background-image: url(../../assets/icons/cb-checked.svg);
      }
    }

    &:checked + label + div {
      color: $color-accent-blue;
    }
  }

  &__label {
    line-height: 130%;
  }
}
