@import "../../assets/styles/variables.scss";

.button {
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  span {
    font-family: "SF-Pro-Text";
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.3s;
  }

  &:hover {
    span {
      text-decoration: underline;
    }
  }

  &_primary {
    background-color: $color-white;

    span {
      color: $color-basic-black;
    }

    &:hover {
      span {
        text-decoration-color: $color-basic-black;
      }
    }
  }

  &_accent {
    background-color: $color-accent-blue;

    span {
      color: $color-white;
    }

    &:hover {
      span {
        text-decoration-color: $color-white;
      }
    }
  }

  &_size {
    &_s {
      padding: 20px 40px;
    }
    &_m {
      padding: 30px 60px;
    }
    &_b {
      width: 292px;
      height: 76px;
    }
  }

  &_colorAccent {
    span {
      color: $color-accent-blue;
    }
  }
}
