@import "../../assets/styles/variables.scss";

.button {
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  &_primary {
    background-color: $color-white;

    span {
      font-family: "SF-Pro-Text";
      font-size: 16px;
      font-weight: 500;
      color: $color-basic-black;
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: text-decoration-color 0.3s;
    }

    &:hover {
      span {
        text-decoration: underline;
        text-decoration-color: $color-basic-black;
      }
    }
  }

  &_size {
    &_s {
      padding: 20px 40px;
    }
    &_m {
      padding: 30px 60px;
    }
    &_b {
      width: 292px;
      height: 76px;
    }
  }

  &_active {
  }
}
