@import "../../assets/styles/variables.scss";

.button {
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  @media (max-width: 767px) {
    border-radius: 10px;
  }

  &_filter {
    display: none;

    @media (max-width: 991px) {
      display: block;
      width: 56px;
    }

    @media (max-width: 767px) {
      width: 40px;
    }
  }

  span {
    font-family: "SF-Pro-Text";
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.3s;
  }

  &__icon {
    display: block;

    &_app + span {
      @media (max-width: 1130px) {
        display: none;
      }
    }

    &_search + span {
      @media (max-width: 1130px) {
        display: none;
      }
    }

    &_sort + span {
      @media (max-width: 1130px) {
        display: none;
      }
    }

    &_filter + span {
      @media (max-width: 1130px) {
        width: 16px;
      }
    }

    &_filter {
      @media (max-width: 1130px) {
        display: none;
      }
    }

    &_login {
      display: none;

      + span {
        @media (max-width: 1130px) {
          display: none;
        }
      }

      @media (max-width: 1130px) {
        display: block;
      }
    }
  }

  &:hover {
    span {
      text-decoration: underline;
    }
  }

  @media (hover: none) {
    &:hover {
      span {
        text-decoration: none;
      }
    }
  }

  &_primary {
    background-color: $color-white;

    span {
      color: $color-basic-black;
    }

    &:hover {
      span {
        text-decoration-color: $color-basic-black;
      }
    }

    @media (hover: none) {
      &:hover {
        span {
          text-decoration-color: transparent;
        }
      }
    }
  }

  &_accent {
    background-color: $color-accent-blue;

    span {
      color: $color-white;
    }

    &:hover {
      span {
        text-decoration-color: $color-white;
      }
    }

    @media (hover: none) {
      &:hover {
        span {
          text-decoration-color: transparent;
        }
      }
    }
  }

  &_size {
    &_s {
      padding: 20px 40px;

      @media (max-width: 1420px) {
        padding: 20px;
      }

      @media (max-width: 767px) {
        padding: 12px;
      }
    }
    &_m {
      padding: 30px 60px;

      @media (max-width: 1420px) {
        padding: 30px;
      }

      @media (max-width: 767px) {
        padding: 12px;
      }
    }
    &_b {
      width: 292px;
      height: 76px;

      @media (max-width: 1030px) {
        width: 250px;
        height: 65px;
      }

      @media (max-width: 500px) {
        font-size: 12px;
      }
    }
  }

  &_colorAccent {
    span {
      color: $color-accent-blue;
    }
  }

  &_colorGrey {
    span {
      color: $color-basic-grey;
    }
  }
}
