.pageLayout {
  position: relative;

  &__container {
    max-width: 1400px;
    margin: 0 auto;

    @media (max-width: 1420px) {
      padding: 0 15px;
    }
    
    @media (max-width: 767px) {
      padding: 0 10px;
    }
  }
}
