@import "../../assets/styles/variables.scss";

.answersList {
  grid-column: 2/5;

  @media (max-width: 991px) {
    grid-column: auto;
  }

  &__header {
    margin-bottom: 34px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 5px;

    @media (max-width: 1030px) {
      align-items: center;
      gap: 15px;
    }
  }

  &__title {
    font-family: "SF-Pro-Display";
    font-weight: 500;
    font-size: 50px;
    line-height: 105%;
    max-width: 632px;

    @media (max-width: 1199px) {
      font-size: 35px;
    }

    @media (max-width: 767px) {
      font-size: 25px;
    }

    &_color {
      color: $color-basic-grey;
    }
  }

  &__btnWrap {
    margin-bottom: 8px;

    @media (max-width: 1030px) {
      margin-bottom: 0;
      display: flex;
      gap: 10px;
    }
  }

  &__search {
    margin-bottom: 34px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__input {
    display: flex;
    flex-grow: 1;
    height: 76px;
    border-radius: 16px;
    background-color: $color-white;
    border: none;
    outline: none;
    padding: 28px 30px;
    font-size: 16px;
    line-height: 130%;
    color: $color-basic-grey;

    @media (max-width: 767px) {
      height: 40px;
      padding: 20px 30px;
      border-radius: 10px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 60px;
  }
}
