@import "../../assets/styles/variables.scss";

.footer {
  background-color: $color-basic-black;
  color: $color-grey-light;

  @media (max-width: 1399px) {
    padding: 0 15px;
  }

  &__container {
    max-width: 1400px;
    margin: 0 auto;
  }

  &__nav {
    padding-block: 80px 86px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @media (max-width: 990px) {
      display: flex;
      flex-wrap: wrap;
      gap: 50px;
    }

    @media (max-width: 767px) {
      padding-block: 50px 30px;
    }
  }

  &__logo {
    margin-bottom: 21px;

    @media (max-width: 990px) {
      margin-bottom: 8px;
    }
  }

  &__logoText {
    line-height: 130%;
  }

  &__title {
    font-size: 16px;
    line-height: 130%;
    font-weight: 400;
    margin-bottom: 24px;

    @media (max-width: 1199px) {
      font-size: 14px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  &__link {
    font-family: "SF-Pro-Display";
    font-size: 20px;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -2%;
    color: #fff;

    @media (max-width: 1199px) {
      font-size: 16px;
    }

    &_active {
      color: $color-accent-blue;
    }
  }

  &__rightsWrap {
    font-size: 14px;
    line-height: 140%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    @media (max-width: 767px) {
      justify-content: center;
      gap: 30px;
      flex-wrap: wrap;
    }
  }

  &__brand {
    @media (max-width: 990px) {
      width: 100%;
    }
  }

  &__catalog {
    @media (max-width: 990px) {
      flex-grow: 1;
    }

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  &__action {
    @media (max-width: 990px) {
      flex-grow: 1;
    }

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  &__project {
    @media (max-width: 990px) {
      flex-grow: 1;
    }
  }
}
