@import "./assets/styles/variables.scss";

@font-face {
  font-family: "SF-Pro-Text";
  src: local("SF-Pro-Text-Regular"),
    url("./assets/fonts/SF-Pro-Text/SFProText-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "SF-Pro-Text";
  src: local("SF-Pro-Text-Medium"),
    url("./assets/fonts/SF-Pro-Text/SFProText-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: local("SF-Pro-Display-Regular"),
    url(./assets/fonts/SF-Pro-Display/SF-Pro-Display-Regular.otf)
      format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: local("SF-Pro-Display-Medium"),
    url(./assets/fonts/SF-Pro-Display/SF-Pro-Display-Medium.otf)
      format("opentype");
  font-weight: 500;
}

:root {
  font-family: "SF-Pro-Text", sans-serif;
  font-weight: 400;
  color: $color-basic-black;
  background-color: $color-grey-light;
  line-height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1,
h2,
h3 {
  margin: 0;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}
